.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

h1, h2 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5em;
  margin-top: 12px;
}

h2 {
  font-size: 3em;
  margin-top: 4px;
  text-transform: lowercase;
}

h2:before {
  content: "("
}

h2:after {
  content: ")"
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
}

.center {
  margin: 0 auto;
}

.main {
}

.content {
  margin-top: 46px;
  width: 600px;
}

.copy-container {
  margin-top: 34px;
  width: 400px;
}

.footer {
  bottom: 0;
  left: 50%;
  position: fixed;
}

.links {
  left: -50%;
  position: relative;
}

.links li {
  float: left;
  font-size: 0.8em;
  padding: 0 15px;
}
